.Box{
  display: grid;
  /* justify-content: center; 가로축-중심축 */
  /* align-items: center; 세로축-교차축 */
  /*min-height: 100vh;   컨테이너가 같이 늘어나게 됨*/
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; /*grid셀 사이의 간격*/
  max-width: 800px;
  margin: 0 auto; /*박스 가운데 정렬*/
  margin-top: 90px;

}

.Box1, .Box3{
  display: flex;
  flex-direction:column;
  /*border: 1px solid gray;*/
  width: 200px;
  height: auto;

}

.img1, .img3{
  margin: auto;
  width: 180px;
  height: 190px;
  border-radius: 10%;
}

.title{
  font-size: 15px;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 5px;
}

.price1 {
  text-align: left;
  font-weight: bold;
  padding-left: 10px; 
  margin: 3px 0 3px 0;
}

.info{
  display: flex;
  color: grey;
  font-size: 12px;
  padding-left: 10px;
  margin: 3px 0 3px 0;
  
}

.days{
  padding-left: 10px;
}


