.home{
  display: flex;
}

.home-container{
  text-align: left;
  /* width: 1097; */
  padding: 0 400px;
  margin-top: 10px;
}

.category-path{
  color: gray;
  font-size: 13px;
}
.location-info{
  margin: 0;
  color: #2A3038;
}


.Box{
  display: grid;
  /* justify-content: center; 가로축-중심축 */
  /* align-items: center; 세로축-교차축 */
  /*min-height: 100vh;   컨테이너가 같이 늘어나게 됨*/
  grid-template-columns: repeat(4, 1fr);
  /*gap: 10px; grid셀 사이의 간격, 가로 세로 간격 똑같이 줄 때*/
  row-gap: 40px;
  column-gap: 10px;
  max-width: 1097px;
  margin: 0 auto; /*박스 가운데 정렬*/
  margin-top: 20px;

}

.Box1, .Box3{
  display: flex;
  flex-direction:column;
  /*border: 1px solid gray;*/
  width: 260px;
  height: auto;
  /* margin-bottom: 40px; */

}

.img1, .img3{
  margin: auto;
  width: 260px;
  height: 280px;
  border-radius: 10px;
  border: 1px solid #BDBDBD;
}

.title{
  font-size: 17px;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 5px;
}

.price1 {
  text-align: left;
  font-weight: bold;
  padding-left: 10px; 
  margin: 2px 0 3px 0;
}

.info{
  display: flex;
  color: gray;
  font-size: 13px;
  padding-left: 10px;
  margin: 3px 0 3px 0;
  
}

.area1{
  margin: 0;
}

.days{
  padding-left: 10px;
  margin:0;
}


