.search{
  display: flex;
  margin-top: 100px;
  justify-content: left;
  padding: 0 400px;
  gap: 20px;
  
}


.location{
  display: flex;
  /* width: 95px;
  height: 35px; */
  padding: 0 12px;
  align-items: center;
  gap: 3px;
  font-weight: bold;
  /* border: 1px solid #BDBDBD; */
  border-radius: 50px;
  justify-content: center;
  background-color: #eeecec;

  
}

.locationIcon{
  width: 20px;
  height: 20px;
}

.area2{
  font-size: 12px;
  white-space:nowrap;
}
.searchArea{
    width: 10px;
  height: 13px;
}

.input{
  display: flex;
  border: 1px solid #eeecec;
  border-radius: 50px;
  /* justify-content: left; */
  align-items: center;
  width: 100%;
  padding: 8px;
  gap: 12px;
  
}

.menubar{
  display: flex;
  padding-left: 10px;
  align-items: center;
  gap:8px;
}

.triangle{
  transform: rotate(180deg);
}
.menu1{
  font-size: 15px;
  white-space:nowrap;
}


.bar{
  width: 9px;
  height: 14px;
  padding: 4px 0 0 3px;
}

.search-input{
  display: flex;
  /* padding-left: 15px; */  
  width: 100%;
}

.searchWord{
  border-width: 0;
  width: 100%;
  outline: none;
  font-size: 14px;
}

.goButton{
  color: white;
  background-color: black;
  border-radius: 100%;
  border: 0;
  aspect-ratio:1;
  padding: 4px;

}