.search{
  display: flex;
  margin-top: 100px;
  justify-content: left;
  padding: 0 400px;
  gap: 20px;
  
}


.location{
  display: flex;
  width: 95px;
  height: 35px;
 
  align-items: center;
  gap: 3px;
  font-weight: bold;
  border: 1px solid #BDBDBD;
  border-radius: 20px;
  justify-content: center;

  
}

.locationIcon{
  width: 20px;
  height: 20px;
}

.area2{
  font-size: 12px;
}
.searchArea{
    width: 10px;
  height: 13px;
}

.input{
  display: flex;
  border: 1px solid #BDBDBD;
  border-radius: 20px;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 35px;
  
}

.menubar{
  display: flex;
  padding-left: 10px;
}

.menu1{
  font-size: 13px;
}

.bar{
  width: 9px;
  height: 14px;
  padding: 4px 0 0 3px;
}

.search-input{
  padding-left: 15px;
  
  
}

.searchWord{
  border-width: 0;
  width: 850px;
  outline: none;
}

.goButton{
  color: white;
  background-color: black;
  border-radius: 50px;
  
}